<p id="notice"><%= notice %></p>

<p>
  <strong>Funcao:</strong>
  <%= @employee.funcao %>
</p>

<p>
  <strong>Data nasc:</strong>
  <%= @employee.data_nasc %>
</p>

<p>
  <strong>Data cont:</strong>
  <%= @employee.data_cont %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @employee.sexo %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @employee.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @employee.cidade %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @employee.rua %>
</p>

<p>
  <strong>N carteira trabalho:</strong>
  <%= @employee.n_carteira_trabalho %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @employee.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @employee.telefone %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @employee.especialidade %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
