<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_entrada %><br>
    <%= f.date_select :data_entrada %>
  </div>
  <div class="field">
    <%= f.label :data_nasc %><br>
    <%= f.date_select :data_nasc %>
  </div>
  <div class="field">
    <%= f.label :especie %><br>
    <%= f.text_field :especie %>
  </div>
  <div class="field">
    <%= f.label :filiacao %><br>
    <%= f.text_field :filiacao %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :installation_id %><br>
    <%= f.text_field :installation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
